h3 {
  color: dark gray;
  font-family: Sylfaen;
  text-align: left;
  margin: 30px;
}
h2{
  color: gray;
  font-family: calibri;
  font-size: 32px;
  text-align: left;
  margin: 30px;
}
p{
  color: gray;
  font-size: 1.25em;
  text-align: left;
  margin: 30px;
}

