body {
  background-image: url(http://www.acsu.buffalo.edu/~niallhar/images.jpg);
  background-attachment: fixed;
  background-size: 1400px 1000px;
  background-repeat: no-repeat;
  border: 5px;
}
h3 {
  font-family: Lucida Calligraphy;
  text-align: center;
}
h4 {
  font-family: Lucida Calligraphy;
  text-align: CENTER;
  border: 5px;
  padding: 8px 18px;
}
h5 {
  FONT-SIZE: 20PX;
  text-align: CENTER;
  MARGIN: 0PX;
}
p{
  color: 2f4f4f;
  font-size: 1em;
  text-align: left;
  margin: -20px;
  padding: 8px 18px;
}


