body {
  background-image: url(http://hdwallpaperbook.com/wp-content/gallery/professional-background-images/featured47@wdd2x.jpg);
  background-size: cover;
}
h3 {
  font-family: Lucida Calligraphy;
  text-align: center;
  color: #191970;
}
h4 {
  font-family: Lucida Calligraphy;
  text-align: right;
}
p{
  color: 2f4f4f;
  font-size: 1em;
  text-align: left;
  margin: 50px;
}


