body {
  background-image: url(http://www.acsu.buffalo.edu/~niallhar/images.jpg);
  background-attachment: fixed;
  background-size: 1400px 1000px;
  background-repeat: no-repeat;
}
h3 {
  font-family: Lucida Calligraphy;
  text-align: RIGHT;
  MARGIN: 0PX;
}
h4 {
  font-family: Lucida Calligraphy;
  text-align: CENTER;
  border: 5px;
  MARGIN: 0PX;
}
h5 {
  FONT-SIZE: 19PX;
  text-align: CENTER;
  MARGIN: 0PX;
}
p{
  font-size: 1em;
  text-align: left;
  margin: 0px;
  border: 2px solid GRAY;
  border-radius: 5px;
}


