body {
  background-image: url(http://www.acsu.buffalo.edu/~niallhar/images.jpg);
  background-attachment:fixed;
}
h3 {
  font-family: Lucida Calligraphy;
  text-align: center;
}
h4 {
  font-family: Lucida Calligraphy;
  text-align: right;
}
p{
  color: 2f4f4f;
  font-size: 1em;
  text-align: left;
  margin: 50px;
}


