name {
  font-family:'Helvetica';
  font-size:32px;
  text-align: right;
  background-image: url(http://hdwallpaperbook.com/wp-content/gallery/professional-background-images/about-us-background.jpg);
  background-size: cover;
  
}
h3 {
  color: dark gray;
  font-family: Sylfaen;
  text-align: right;
  margin: 30px;
}
h4 {
  color: dark gray;
  font-family: Sylfaen;
  text-align: left;
  margin: 30px;
}
h2{
  font-size: 32px;
  text-align: left;
  margin: 30px;
}
p{
  color: 2f4f4f;
  font-size: 1.25em;
  text-align: left;
  margin: 50px;
}

